@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* Variables*/

$primary: rgb(39, 123, 201);
$grass: rgb(44, 199, 78);
$secondary: rgb(219, 52, 52);
$info: #999;
$yellow: rgb(235, 235, 18);
$orange: orange;

$col: #000;
$col-nav: #fff;

$bg-nav: rgb(0 0 0 / 80%);
$bg-body: #fff;

$shadow-light: #666;
$shadow-dark: rgb(14, 14, 14);

$bg-body: #fff;//dfdfdf 


/* Mixin */
@mixin CenterXY() {
    display: grid;
    place-items: center;
}
/* Styling*/

// Elements
html,body{
    min-height: 100vh;
    margin: 0;
    font-family: Comfortaa;
    scroll-behavior: smooth;
}
body{
    background: $bg-body;
    color: $col;
}
nav{
    position: fixed;
    z-index: 5;
    color: $col-nav;
    background: $bg-nav;
    backdrop-filter: saturate(180%) blur(20px);
    padding: 5px 1rem;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
}
a{
    color: $grass;
}
main{
    font-size: 1rem;
    padding-top: 5rem;
}
h1{
    font-size: 3em;
}
footer{
    background: $bg-nav;
    padding: 2em;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title title" "list list";
    justify-items: stretch;
    margin-top: 3rem;
}
footer>div{
    flex-grow: 1;
    display: grid;
    place-items: center
}
footer a{
    color: #999;
    margin: 7px 1rem 7px 0;
    text-decoration: none;
}
footer a:hover{
    color: #666;
}

//Classes
.logo{
    font-size: 2rem;
    margin-block: auto;
}
.navList{
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.navList>a{
    margin: 0 1rem;
    padding-bottom: 5px;
    width: max-content;
    text-decoration: none;
    color: $col-nav;
    background-image: linear-gradient(90deg, $primary, $secondary);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 300ms;
}
.navList>a:hover{
    background-size: 100% 3px;
}
.mainLoginButton{
    background: $primary;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 250ms;
    font-family: Comfortaa;
}
.mainLoginButton:hover{
    filter: brightness(90%);
}
.socialList{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-block: auto;
    justify-content: space-evenly;
}
.socialList img{
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px 10px 5px 0;
}
.socialList li{
    display: flex;
    align-items: center;
}
.footer-list{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-block: auto;
}

//Selection
*::selection{
    background: rgb(216, 216, 216);
}
footer * ::selection,footer > *::selection,
nav * ::selection, nav>*::selection{
    background: rgb(65, 65, 65);
}
//Scrollbar
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-thumb{
    background-color: #242424;
}
::-webkit-scrollbar-track{
    background: #c8c8c8;
}