@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* Variables*/

$primary: rgb(39, 123, 201);
$grass: rgb(44, 199, 78);
$secondary: rgb(219, 52, 52);
$info: #999;
$yellow: rgb(235, 235, 18);
$orange: orange;

$col: #000;
$col-nav: #fff;

$bg-nav: rgb(0 0 0 / 80%);
$bg-body: #fff;

$shadow-light: #666;
$shadow-dark: rgb(14, 14, 14);

$bg-body: #fff;//dfdfdf 

.leftList{
    max-width: min(30%, 20rem);
    min-width: max-content;
    padding: 1rem;
    position: relative;
}
.rightList{
    padding: 1rem;
    margin-left: 1rem;
}
.options{
    position: fixed;
    height: calc(100vh - 200px);
}

.leftUl{
    list-style: none;
    padding-left: 1rem;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
.leftUl>li{
    margin-block: .2rem;
    padding: .5rem;
    color: $info;
    transition: 250ms;
}
.leftUl > li:hover{
    color: #666;
    cursor: pointer;
}
