:root{
    --primary: rgb(39, 123, 201);
    --primary-2: rgb(156 207 255);
    --secondary: rgb(219, 52, 52);
    --secondary-2: rgb(255 145 145);
    --purple: rgb(123, 39, 201);
    --purple-2: rgb(204 149 255);
}
html{height: 100%; max-height: 100vh;}
.SCF:has(.game){
    margin: 0px;
    height: -webkit-fill-available;
    text-align: center;
    background: #000;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.SCF h1{color: #fff; font-size: 5rem;}
.SCF .game{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SCF .scelte{display: inline-flex;margin: 70px auto 50px auto;font-weight: bolder;}
.SCF .scelta{font-family: inherit;border: none;padding: 18px 20px;margin: 10px 30px;border-radius: 5px;font-size: inherit;cursor: pointer;font-weight: 700;transition: 250ms ease;}
.SCF .scelta:where(:focus, :hover){background: #222;color: #eee;outline: solid #333 3px;}
.SCF .stats{display: grid;grid-template-areas: "one two"  "three four"  "five six";}
.SCF .stats p{margin:10px 50px;background: #fff;border-radius: 5px;padding: 18px 20px;font-weight: bold;}
.SCF .statsTable{display: flex;flex-wrap: wrap;}
.SCF #SceltaComputer{color: #fff;}
.SCF #gamesPlayed{grid-area: one;}
.SCF #Score{grid-area: two;}
.SCF #Wins{grid-area: three;}
.SCF #Losses{grid-area: four;}
.SCF #Draws{grid-area: five;}
.SCF #WinRate{grid-area: six;}

@keyframes statsbar {
    to {top: 0;}
}
.SCF .visualstats{
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 100vw;
    height: max-content;
    display: flex;
    animation: statsbar .5s ease forwards .5s;
}
.SCF .visualstats div{
    height: 1.5rem;
    background-color: #222;
    transition: 250ms;
    width: 33.3333333333%;
}
.SCF .visualstats div.green{background: rgb(131, 201, 131);}
.SCF .visualstats div.gray{background: #222;}
.SCF .visualstats div.red{background: #f55;}