:root{
    --primary: rgb(39, 123, 201);
    --primary-2: rgb(156 207 255);
    --secondary: rgb(219, 52, 52);
    --secondary-2: rgb(255 145 145);
    --purple: rgb(123, 39, 201);
    --purple-2: rgb(204 149 255);
}
html{height: 100%; max-height: 100vh;}
.SCF:has(.game){
    margin: 0px;
    height: -webkit-fill-available;
    text-align: center;
    background: #000;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.SCF h1{color: #fff; font-size: 5rem;}
.SCF .game{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SCF .scelte{display: inline-flex;margin: 70px auto 50px auto;font-weight: bolder;}
.SCF .scelta{font-family: inherit;border: none;padding: 18px 20px;margin: 10px 30px;border-radius: 5px;font-size: inherit;cursor: pointer;font-weight: 700;transition: 250ms ease;}
.SCF .scelta:where(:focus, :hover){background: #222;color: #eee;outline: solid #333 3px;}
.SCF .stats{display: grid;grid-template-areas: "one two"  "three four"  "five six";}
.SCF .stats p{margin:10px 50px;background: #fff;border-radius: 5px;padding: 18px 20px;font-weight: bold;}
.SCF .statsTable{display: flex;flex-wrap: wrap;}
.SCF #SceltaComputer{color: #fff;}
.SCF #gamesPlayed{grid-area: one;}
.SCF #Score{grid-area: two;}
.SCF #Wins{grid-area: three;}
.SCF #Losses{grid-area: four;}
.SCF #Draws{grid-area: five;}
.SCF #WinRate{grid-area: six;}

/* Intro */
@keyframes intro {
    0% {opacity: 0.8;}
    100% {opacity: 0;display: none;z-index: -1;}
}

.SCF .intro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: grid;
    place-items: center;
    color: #fff;
    z-index: 1;
    filter: opacity(0.8);
    animation: intro 1s forwards 2s;
}
.SCF .intro p{
    font-size: 3em;
    font-weight: bold;
}