$island-background: #0009; 
$header-color: #888;

@mixin island(){
    background: linear-gradient(to bottom, $island-background 70%, transparent) ;
    // border: solid 5px #222;
}


main.Slots{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: calc(100vh - 4rem);
    padding: 2rem 0;
    background: linear-gradient(to bottom, #111, #040404);
    
    .game{
        flex-grow: 1;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        padding-right: 3rem;
        font-size: 1.5rem;
        gap: 2rem;
        overflow: hidden;
        
        .slot-records{
            overflow-y: scroll;
            max-height: 100%;

            .record{
                height: 4rem;
                margin: 1rem;
                border-radius: 10px;
                background: #111;
                color: #444;
                text-align: left;
                padding: 1rem;
                font-weight: 500;
                scroll-snap-type: proximity;
                scroll-snap-stop: always;

                h5{
                    color: $header-color;
                    margin: 0;
                    font-weight: inherit;
                }
                p{
                    margin: 10px 0;
                    font-size: 1rem
                }
            }
        }
        

        aside{
            @include island();

            margin-left: 2rem;
            border-radius: 10px;
            padding: 1rem;
            height: calc(100vh - 4rem);

            h1{
                text-transform: uppercase;
                font-size: 2rem;
                margin: 0;
                padding: 1rem;
                font-weight: 300;
                color: $header-color;
            }
        }
        
        section{
            border-radius: 10px;
            color: #333;
            display: flex;
            gap: 2rem;
            flex-direction: column;
            
            .slots{
                border-radius: inherit;
                flex-grow: 8;
            }

            .playbar{
                @include island();
                border-radius: inherit;
                flex-grow: 3;
                color: #999;
            }
        }
    }

    ::-webkit-scrollbar{
        display: none;
    }
    ::selection{
        background: #333;
    }
}
