main.Slots {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: calc(100vh - 4rem);
  padding: 2rem 0;
  background: linear-gradient(to bottom, #111, #040404);
}
main.Slots .game {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  padding-right: 3rem;
  font-size: 1.5rem;
  gap: 2rem;
  overflow: hidden;
}
main.Slots .game .slot-records {
  overflow-y: scroll;
  max-height: 100%;
}
main.Slots .game .slot-records .record {
  height: 4rem;
  margin: 1rem;
  border-radius: 10px;
  background: #111;
  color: #444;
  text-align: left;
  padding: 1rem;
  font-weight: 500;
  scroll-snap-type: proximity;
  scroll-snap-stop: always;
}
main.Slots .game .slot-records .record h5 {
  color: #888;
  margin: 0;
  font-weight: inherit;
}
main.Slots .game .slot-records .record p {
  margin: 10px 0;
  font-size: 1rem;
}
main.Slots .game aside {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 70%, transparent);
  margin-left: 2rem;
  border-radius: 10px;
  padding: 1rem;
  height: calc(100vh - 4rem);
}
main.Slots .game aside h1 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  font-weight: 300;
  color: #888;
}
main.Slots .game section {
  border-radius: 10px;
  color: #333;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
main.Slots .game section .slots {
  border-radius: inherit;
  flex-grow: 8;
}
main.Slots .game section .playbar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 70%, transparent);
  border-radius: inherit;
  flex-grow: 3;
  color: #999;
  display: flex;
  gap: 3rem;
  padding: 0 3rem;
  align-items: center;
  justify-content: space-evenly;
}
main.Slots .game section .playbar .play {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 10px;
  color: #444;
  text-transform: uppercase;
  transition: 250ms ease;
  border: none;
  cursor: pointer;
  transition: 250ms ease;
  width: 20%;
  height: 150px;
}
main.Slots .game section .playbar .play:hover {
  background-color: #181818;
}
main.Slots .game section .playbar .bet {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 10px;
  color: #444;
  text-transform: uppercase;
  transition: 250ms ease;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "bet bet" "decrease increase";
  padding: 1rem;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  width: 50%;
}
main.Slots .game section .playbar .bet span {
  margin: 0;
  grid-area: bet;
  background: #0b0b0b;
  border-radius: 3px;
  padding: 0.5rem;
}
main.Slots .game section .playbar .bet button {
  background: #181818;
  color: #444;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}
main.Slots .game section .playbar .bet button.increase {
  grid-area: increase;
}
main.Slots .game section .playbar .bet button.decrease {
  grid-area: decrease;
}
main.Slots .game section .playbar .bet button:hover {
  background: #222;
}
main.Slots .game section .playbar .money {
  width: 20%;
}
main.Slots .game section .playbar .money .win {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 10px;
  color: #444;
  text-transform: uppercase;
  transition: 250ms ease;
}
main.Slots .game section .playbar .money .owned {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 10px;
  color: #444;
  text-transform: uppercase;
  transition: 250ms ease;
  margin-top: 0.5rem;
}
main.Slots ::-webkit-scrollbar {
  display: none;
}
main.Slots ::-moz-selection {
  background: #333;
}
main.Slots ::selection {
  background: #333;
}/*# sourceMappingURL=slots.css.map */