@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url(keyframes.css);
/* Variables*/

$primary: rgb(39, 123, 201);
$grass: rgb(44, 199, 78);
$secondary: rgb(219, 52, 52);
$info: #999;
$yellow: rgb(235, 235, 18);
$orange: orange;

$col: #000;
$col-nav: #fff;

$bg-nav: rgb(0 0 0 / 80%);
$bg-body: #fff;

$shadow-light: #666;
$shadow-dark: rgb(14, 14, 14);

$bg-body: #fff;//dfdfdf 

/* Styling*/
nav{background: transparent; opacity: 0;animation: light 1s ease 4s forwards;}
.intro{
    background: #000;
    height: calc(100vh - 5rem);
    width: 100%;
    margin: auto;
    font-size: 70px;
    color: #fff;
    font-weight: 400;
    align-items: center;
    justify-content: space-evenly;
    isolation: isolate;
    position: relative;
}
.anim{
    z-index: -1;
    background-image: radial-gradient(#0e0e0e, #000);
    opacity: 0;
    animation: light 1s ease 4s forwards;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.intro > span{
    // box-shadow: 0 0 50px $shadow-dark;
    padding: 2rem;
    font-size: 15rem;
    opacity: 0;
}

.l1{animation: letter1 1s ease 1s  forwards;}
.l2{animation: letter2 1s ease 2s  forwards;}
.l3{animation: letter2 1s ease 3s  forwards;}
/*HOME*/

.HomeIntro{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.HomeWellcome{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@keyframes typing {
    100% {left: 100%;}
}
@keyframes blink {
    100% {background: transparent;}
}
.typingAnim{
    font-family: monospace;
    position: relative;
}
.typingTxt{margin: 5px;width: max-content;}

.typingTxt::before,
.typingTxt::after{
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
$typingSteps: 24;
$typingSpeed: 1.5s;

.typingTxt::before{
    background: #fff;
    animation: typing $typingSpeed steps($typingSteps) forwards 1s;
}
.typingTxt::after{
    width: .125em;
    background: #000;
    animation: 
        typing $typingSpeed steps($typingSteps) forwards 1s,
        blink 300ms steps($typingSteps) infinite,
}

