
$primary: rgb(39, 123, 201);
$secondary: rgb(219, 52, 52);
$grass: rgb(44, 199, 78);
$info: #999;
$yellow: rgb(235, 235, 18);
$orange: orange;

@keyframes light {
    to {opacity: 1;}
}

@keyframes letter1 {
    to {opacity: 1;}
}

@keyframes letter2 {
    to {opacity: 1;}
}

@keyframes letter3 {
    to {opacity: 1;}
}
