/* Variables*/
$mode: white;

$bg-nav: #fff;
$bg-body: #fff;

$primary: rgb(39, 123, 201);
$grass: rgb(44, 199, 78);
$secondary: rgb(219, 52, 52);
$info: #999;
$yellow: rgb(235, 235, 18);
$orange: orange;

$col: #000;
$col-nav: #000;

$shadow-light: #666;
$shadow-dark: rgb(14, 14, 14);
/* Light / Dark mode */ 
@if $mode == white {
    $bg-nav: rgba(216, 216, 216, 0.6);
    $bg-body: #fff;//dfdfdf

    $primary: rgb(39, 123, 201);

    $col-nav: #000;
    $col: #000;
}@else{
    $bg-nav: rgb(0 0 0 / 80%);
    $bg-body: #222;

    $col-nav: #fff;
    $col: #fff;
}


/* Mixin */
@mixin CenterXY {
    display: grid;
    place-items: center;
}
/* Styling*/

// Elements
html,body{
    min-height: 150vh;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background: $bg-body;
    color: $col;
}
nav{
    position: fixed;
    z-index: 5;
    width: calc(100vw - 3rem);
    color: $col-nav;
    background: $bg-nav;
    backdrop-filter: saturate(180%) blur(20px);
    padding: 5px 1rem;
    display: flex;
}
main{
    font-size: 1rem;
    padding-top: 5rem;
}
h1{
    font-size: 3em;
}

//Classes
.logo{
    font-size: 2rem;
    margin-block: auto;
}
.intro{
    @include CenterXY();
    //background: $primary;
    border-radius: 10px;
    height: calc(70vh + 5rem);
    width: calc(100% - 2rem );
    margin: auto;
    font-size: 70px;
    color: $col;
    font-weight: 400;
}
.intro > span{
    @if ($mode == white){
        box-shadow: 0 0 50px $shadow-light;
    }@else{
        box-shadow: 0 0 60px $shadow-dark;
    }
    padding: 2rem;
}
.navList{
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.navList>a{
    margin: 0 1rem;
    padding-bottom: 5px;
    width: max-content;
    text-decoration: none;
    color: $col-nav;
    background-image: linear-gradient(90deg, $primary, $secondary);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 300ms;
}
.navList>a:hover{
    background-size: 100% 3px;
}
.mainLoginButton{
    background: $primary;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 250ms;
}
.mainLoginButton:hover{
    filter: brightness(90%);
}

.displayer{
    min-width: auto;
    min-height: 15rem;
    margin-block: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.displayer-item{
    min-height: 20rem;
    //border: solid 3px red;//da rimuovere
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: flex-end;
    width: 15rem;
    padding-top: 1rem;
    box-shadow: 0 0 50px $shadow-light;
    z-index: 2;
    transition: 250ms ease;
}
.displayer-item > div{
    color: rgba(255, 255, 255, 0.85);
    background: linear-gradient(transparent, #000);
    min-height: 50%;
    padding: 0  1rem 1rem;
    border-radius: 1rem;
    overflow: hidden;
}
.paragraph{
    transform: translateX(-100%);
    transition: 250ms ease;
}
.paragraph::before{
    content: "";
    height: 5px;
    width: 100%;
    background: #fff;
}
.displayer-item:hover{
    transform: scale(1.05);
}
.displayer-item:hover .paragraph{
    transform: translateX(0%);
}
