@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html, body{height: 100%; overflow: hidden; font-family: Comfortaa;}
body{
    margin: 0;
    color: #fff;
}
nav{width: 100%; padding: 1rem 0; background: rgba(0, 0, 0, 0.8);display: flex;}
section{
    background: url(bg-slot-machines.jpg) center center no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{font-size: xx-large;flex-grow: 1; padding-left: 2rem;}
.scores{
    background: rgba(35, 35, 35, 0.8);
    margin-right: 2rem;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
#coinsCounter, #amount{
    color: #fff;
    padding: 0 10px;
}
.game{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: max-content;
    border-radius: 5px 5px 0 0;
}
.slot{
    background: rgb(219, 219, 219);
    font-size: 70px;
    color: #000;
    padding: 2rem;
    cursor: default;
}
#firstSlot{border-radius: 5px 0 0 5px;}
#thirdSlot{border-radius:  0 5px 5px 0;}
.button{
    background: #448BFF;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    width: -webkit-fill-available;
    border: none;
    font-family: Comfortaa;
    font-size: medium;
    transition: 300ms;
}
.button:hover{background: #0049be;}


/* Intro */
@keyframes intro {
    0% {opacity: 0.8;}
    100% {opacity: 0;display: none;z-index: -1;}
}

.intro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: grid;
    place-items: center;
    color: #fff;
    z-index: 1;
    filter: opacity(0.8);
    animation: intro 1s forwards 3s;
}
.intro p{
    font-size: 3em;
    font-weight: bold;
}