@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html{height: 100%;}
body{
    margin: 0px;
    background: rgb(46, 46, 46);
    height: 100%;
    font-family: Comfortaa;
    overflow: hidden;
}
nav{background: rgb(37, 37, 37);}
nav h1{margin: 0px auto;text-align: center;padding: 15px;color: #fff;}
section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 60%;
    font-size: 20px;
    outline: none;
    background: rgb(26, 26, 26);
    border: none;
    border-radius: 3px 0 0 3px;
    padding: 5px;
    color: gray;
    font-family: Comfortaa;
}
button{
    background: rgb(57, 57, 255);
    border: none;
    font-weight: 900;
    border-radius: 0 3px 3px 0;
    font-family: Comfortaa;
}
button:hover{cursor: pointer;}
.allert{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: calc(100vh - 100px);
}
.allert p{
    background: #444;
    padding: 1rem;
    font-size: 20px;
    font-weight: 900;
    display: none;
}

/* Intro */
@keyframes intro {
    0% {opacity: 0.8;}
    100% {opacity: 0;display: none;z-index: -1;}
}

.intro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: grid;
    place-items: center;
    color: #fff;
    z-index: 1;
    filter: opacity(0.8);
    animation: intro 1s forwards 3s;
}
.intro p{
    font-size: 3em;
    font-weight: bold;
}