main.column{
    flex-direction: column;
}
main.no-overflow{
    overflow-x: hidden;
}
main.x-center{
    align-items: center;
}
.profile-pic{
    height: 25rem;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    background: #ddd;
}
.profile-banner{
    background: #eee;
    width: 100%;
    display: flex;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-inline: 2rem;
    height: 25rem;
    gap: 2rem;
}