@import 'colors.scss';
/* General purpose classes */

.bg-white               {background-color: $white;}
.bg-yellow              {background-color: $yellow;}
.bg-orange              {background-color: $orange;}
.bg-orange-tr           {background-color: $orange-tr;}
.bg-soft-black          {background-color: $soft-black;}
.bg-black               {background-color: $black;}
.bg-raisin-black        {background-color: $raisin-black;}
.bg-gray                {background-color: $gray;}
.bg-charleston-gray     {background-color: $charleston-gray;}
.bg-darkgray            {background-color: $darkgray;}
.bg-background          {background-color: $background;}
.bg-foreground          {background-color: $foreground;}
.bg-primary-accent      {background-color: $primary-accent;}
.bg-secondary-accent    {background-color: $secondary-accent;}
.bg-tertiary-accent     {background-color: $tertiary-accent;}
.bg-button-color        {background-color: $button-color;}
.bg-button-text         {background-color: $button-text;}
.bg-border-color        {background-color: $border-color;}
.bg-link-color          {background-color: $link-color;}
.bg-link-hover-color    {background-color: $link-hover-color;}
.bg-error-state         {background-color: $error-state;}
.bg-success-state       {background-color: $success-state;}
.bg-warning-state       {background-color: $warning-state;}
.bg-red                 {background-color: $red-1;}
.bg-red-2               {background-color: $red-2;}
.bg-red-3               {background-color: $red-3;}
.bg-orange              {background-color: $orange-1;}
.bg-orange-2            {background-color: $orange-2;}
.bg-orange-3            {background-color: $orange-3;}
.bg-yellow              {background-color: $yellow-1;}
.bg-yellow-2            {background-color: $yellow-2;}
.bg-yellow-3            {background-color: $yellow-3;}
.bg-green               {background-color: $green-1;}
.bg-green-2             {background-color: $green-2;}
.bg-green-3             {background-color: $green-3;}
.bg-blue                {background-color: $blue-1;}
.bg-blue-2              {background-color: $blue-2;}
.bg-blue-3              {background-color: $blue-3;}
.bg-purple              {background-color: $purple-1;}
.bg-purple-2            {background-color: $purple-2;}
.bg-purple-3            {background-color: $purple-3;}
.bg-pink                {background-color: $pink-1;}
.bg-pink-2              {background-color: $pink-2;}
.bg-pink-3              {background-color: $pink-3;}
.bg-gray                {background-color: $gray-1;}
.bg-gray-2              {background-color: $gray-2;}
.bg-gray-3              {background-color: $gray-3;}

/* Text related classes */
.txt-left               {text-align: left;}
.txt-center             {text-align: center;}
.txt-right              {text-align: right;}
.txt-justify            {text-align: justify;}


.col-white              {color: $white;}
.col-yellow             {color: $yellow;}
.col-orange             {color: $orange;}
.col-orange-tr          {color: $orange-tr;}
.col-black              {color: $black;}
.col-soft-black         {color: $soft-black;}
.col-raisin-black       {color: $raisin-black;}
.col-gray               {color: $gray;}
.col-charleston-gray    {color: $charleston-gray;}
.col-darkgray           {color: $darkgray;}
.col-background         {color: $background;}
.col-foreground         {color: $foreground;}
.col-primary-accent     {color: $primary-accent;}
.col-secondary-accent   {color: $secondary-accent;}
.col-tertiary-accent    {color: $tertiary-accent;}
.col-button-color       {color: $button-color;}
.col-button-text        {color: $button-text;}
.col-border-color       {color: $border-color;}
.col-link-color         {color: $link-color;}
.col-link-hover-color   {color: $link-hover-color;}
.col-error-state        {color: $error-state;}
.col-success-state      {color: $success-state;}
.col-warning-state      {color: $warning-state;}
.col-red                {color: $red-1;}
.col-red-2              {color: $red-2;}
.col-red-3              {color: $red-3;}
.col-orange             {color: $orange-1;}
.col-orange-2           {color: $orange-2;}
.col-orange-3           {color: $orange-3;}
.col-yellow             {color: $yellow-1;}
.col-yellow-2           {color: $yellow-2;}
.col-yellow-3           {color: $yellow-3;}
.col-green              {color: $green-1;}
.col-green-2            {color: $green-2;}
.col-green-3            {color: $green-3;}
.col-blue               {color: $blue-1;}
.col-blue-2             {color: $blue-2;}
.col-blue-3             {color: $blue-3;}
.col-purple             {color: $purple-1;}
.col-purple-2           {color: $purple-2;}
.col-purple-3           {color: $purple-3;}
.col-pink               {color: $pink-1;}
.col-pink-2             {color: $pink-2;}
.col-pink-3             {color: $pink-3;}
.col-gray               {color: $gray-1;}
.col-gray-2             {color: $gray-2;}
.col-gray-3             {color: $gray-3;}
