/* Variables*/

$primary: rgb(39, 123, 201);
$grass: rgb(44, 199, 78);
$secondary: rgb(219, 52, 52);
$info: #999;
$yellow: rgb(235, 235, 18);
$orange: orange;

$col: #000;
$col-nav: #fff;

$bg-nav: rgb(0 0 0 / 80%);
$bg-body: #fff;

$shadow-light: #666;
$shadow-dark: rgb(14, 14, 14);

$bg-body: #fff;//dfdfdf 


/* Mixin */
@mixin CenterXY() {
    display: grid;
    place-items: center;
}
/* Styling*/

// Elements
html,body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: $bg-body;
    color: $col;
}
nav{
    position: fixed;
    z-index: 5;
    color: $col-nav;
    background: $bg-nav;
    backdrop-filter: saturate(180%) blur(20px);
    padding: 5px 1rem;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 2rem;
}
a{
    color: $info;
    position: relative;
    text-decoration: none;
    isolation: isolate;
}
a:not(nav a, footer a, .article-wrapper a)::before {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% + 2px);
    bottom: -3px;
    left: 0;
    z-index: -1;
    background: #ddd;
    transition: .4s ease;

}
a:not(nav a, footer a, .article-wrapper):hover::before{
    height: calc(100% + 5px);
}
main{
    display: block;
    font-size: 1rem;
    padding-top: 5rem;
}
h1{
    font-size: 3em;
}
footer{
    background: $bg-nav;
    padding: 2em;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title title" "list list";
    justify-items: stretch;
    margin-top: 3rem;
    > div{
        flex-grow: 1;
        display: grid;
        place-items: center
    }
    a{
        color: #999;
        margin: 7px 1rem 7px 0;
        text-decoration: none;
        font-weight: 700;
    }
    a:hover{
        color: #666;
    }
    h3{
        margin: 1rem 0;
    }
}
//Classes
.logo{
    font-size: 2rem;
    margin-block: auto;
    color: #fff;
    text-decoration: none;
    display: flex;
}
.navList{
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    > a{
        margin: 0 1rem;
        padding-bottom: 5px;
        width: max-content;
        text-decoration: none;
        color: $col-nav;
        position: relative;
        font-weight: 600;
        
        ::before{
            content: "";
            position: absolute;
            height: 3px;
            width: 0%;
            background: #666;
            bottom: 0;
            left: 0;
            transition: 300ms ease;
        }
        :hover::before{
            width: 100%;
        }
    }
}
.mainLoginButton{
    background: #262626;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 250ms;
    font-family: inherit;
}
.mainLoginButton:hover{
    background: #181818;
}
.profile{
    height: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: linear-gradient(45deg, #111, #000);
    margin-block: auto;
    position: relative;

    .popup{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        top: 170%;
        right: 0;
        background: #222;
        color: #fff;
        font-weight: 700;
        opacity: 0;
        transform: translateX(20rem);
        transition: .5s ease .5s;
        cursor: default;
        visibility: hidden;
        border-radius: 5px;

        a{
            padding: 1rem 2rem;
            transition: inherit;
            color: #fff;
        }
        a:hover{
            background: #444;
        }
        a:first-child{
            border-radius: 5px 5px 0 0 !important;
        }
        a:last-child{
            border-radius: 0 0 5px 5px !important;
        }
    }
}
.profile:hover .popup{
    opacity: 1;
    transform: translateX(0);
    transition: .25s ease 0ms;
    visibility: visible;
}
a:has(.profile){
    display: flex;
    align-items: center;
}
.card{
    aspect-ratio: 1 / 1;
    width: 400px;
    background: #000;
    margin: 0 0.5rem 1rem 0.5rem;
    text-decoration: none;
    overflow: hidden;
    isolation: isolate;
    
    .caption{
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #0009;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 3rem;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: .6s ease;
    }
    .inner-card{
        height: 100%;
        width: 100%;
        position: relative;
        z-index: -1;
        transition: 1s ease;
    }
}
.card:where(:hover, :focus){
    .caption{
        opacity: 1;
    }
    .inner-card{
        scale: 1.5;
    }
}
.socialList{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-block: auto;
    justify-content: space-evenly;
    
    img{
        width: 1.5rem;
        height: 1.5rem;
        padding: 0 10px 0 0;
    }
    li{
        display: flex;
        align-items: center;
    }
}
.footer-list{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-block: auto;
}

@keyframes messageAnimation  {
    0%      {top: -100%;}
    10%     {top: 1rem;}
    90%     {top: 1rem;}
    100%    {top: -100%;} 
}

.message{
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.25rem 4rem;
    border-radius: 10px;
    text-align: center;
    max-width: 50%;
    width: fit-content;
}
.message.show {
    animation: messageAnimation 10s ease-out forwards;
}
.message#message{
    background: #dbc23e;
}
.message#error-message{
    background: #f55;
}
.message#sucess-message{
    background: #53cf53;
}
//Selection
*::selection{
    background: rgb(216, 216, 216);
}
footer * ::selection,footer > *::selection,
nav * ::selection, nav>*::selection{
    background: rgb(65, 65, 65);
}
//Scrollbar
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-thumb{
    background-color: #242424;
}
::-webkit-scrollbar-track{
    background: #c8c8c8;
}