/* Variables*/
/* Mixin */
/* Styling*/
html, body {
  min-height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #000;
}

nav {
  position: fixed;
  z-index: 5;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  padding: 5px 1rem;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 2rem;
}

a {
  color: #999;
  position: relative;
  text-decoration: none;
  isolation: isolate;
}

a:not(nav a, footer a, .article-wrapper a)::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% + 2px);
  bottom: -3px;
  left: 0;
  z-index: -1;
  background: #ddd;
  transition: 0.4s ease;
}

a:not(nav a, footer a, .article-wrapper):hover::before {
  height: calc(100% + 5px);
}

main {
  display: block;
  font-size: 1rem;
  padding-top: 5rem;
}

h1 {
  font-size: 3em;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 2em;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title" "list list";
  justify-items: stretch;
  margin-top: 3rem;
}
footer > div {
  flex-grow: 1;
  display: grid;
  place-items: center;
}
footer a {
  color: #999;
  margin: 7px 1rem 7px 0;
  text-decoration: none;
  font-weight: 700;
}
footer a:hover {
  color: #666;
}
footer h3 {
  margin: 1rem 0;
}

.logo {
  font-size: 2rem;
  margin-block: auto;
  color: #fff;
  text-decoration: none;
  display: flex;
}

.navList {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.navList > a {
  margin: 0 1rem;
  padding-bottom: 5px;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: #fff;
  position: relative;
  font-weight: 600;
}
.navList > a ::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  background: #666;
  bottom: 0;
  left: 0;
  transition: 300ms ease;
}
.navList > a :hover::before {
  width: 100%;
}

.mainLoginButton {
  background: #262626;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 250ms;
  font-family: inherit;
}

.mainLoginButton:hover {
  background: #181818;
}

.profile {
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(45deg, #000, #222);
  margin-block: auto;
  position: relative;
}
.profile .popup {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 170%;
  right: 0;
  background: #222;
  color: #fff;
  font-weight: 700;
  opacity: 0;
  transform: translateX(20rem);
  transition: 0.5s ease 0.5s;
  cursor: default;
  visibility: hidden;
  border-radius: 5px;
}
.profile .popup a {
  padding: 1rem 2rem;
  transition: inherit;
  color: #fff;
}
.profile .popup a:hover {
  background: #444;
}
.profile .popup a:first-child {
  border-radius: 5px 5px 0 0 !important;
}
.profile .popup a:last-child {
  border-radius: 0 0 5px 5px !important;
}

.profile:hover .popup {
  opacity: 1;
  transform: translateX(0);
  transition: 0.25s ease 0ms;
  visibility: visible;
}

a:has(.profile) {
  display: flex;
  align-items: center;
}

.card {
  aspect-ratio: 1/1;
  width: 400px;
  background: #000;
  margin: 0 0.5rem 1rem 0.5rem;
  text-decoration: none;
  overflow: hidden;
  isolation: isolate;
}
.card .caption {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: 0.6s ease;
}
.card .inner-card {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
  transition: 1s ease;
}

.card:hover .caption {
  opacity: 1;
}
.card:hover .inner-card {
  scale: 1.5;
}

.socialList {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-block: auto;
  justify-content: space-evenly;
}
.socialList img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 10px 0 0;
}
.socialList li {
  display: flex;
  align-items: center;
}

.footer-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block: auto;
}

*::-moz-selection {
  background: rgb(216, 216, 216);
}

*::selection {
  background: rgb(216, 216, 216);
}

footer * ::-moz-selection, footer > *::-moz-selection, nav * ::-moz-selection, nav > *::-moz-selection {
  background: rgb(65, 65, 65);
}

footer * ::selection, footer > *::selection,
nav * ::selection, nav > *::selection {
  background: rgb(65, 65, 65);
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: #242424;
}

::-webkit-scrollbar-track {
  background: #c8c8c8;
}/*# sourceMappingURL=global.css.map */