@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* Variables*/

$primary: rgb(39, 123, 201);
$grass: rgb(44, 199, 78);
$secondary: rgb(219, 52, 52);
$info: #999;
$yellow: rgb(235, 235, 18);
$orange: orange;

$col: #000;
$col-nav: #fff;

$bg-nav: rgb(0 0 0 / 80%);
$bg-body: #fff;

$shadow-light: #666;
$shadow-dark: rgb(14, 14, 14);

$bg-body: #fff;//dfdfdf 

/* Mixin */
@mixin CenterXY() {
    display: grid;
    place-items: center;
}
/* Styling*/
.intro{
    @include CenterXY();
    //background: $primary;
    border-radius: 10px;
    height: calc(70vh + 5rem);
    width: calc(100% - 2rem );
    margin: auto;
    font-size: 70px;
    color: $col;
    font-weight: 400;
}
.intro > span{
    box-shadow: 0 0 50px $shadow-light;
    padding: 2rem;
}
.displayer{
    min-width: auto;
    min-height: 15rem;
    margin-block: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.displayer-item{
    min-height: 20rem;
    //border: solid 3px red;//da rimuovere
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: flex-end;
    width: 15rem;
    padding-top: 1rem;
    box-shadow: 0 0 50px $shadow-light;
    z-index: 2;
    transition: 250ms ease;
}
.displayer-item > div{
    color: rgba(255, 255, 255, 0.85);
    background: linear-gradient(transparent, #000);
    min-height: 50%;
    padding: 0  1rem 1rem;
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
}
.paragraph{
    transform: translateX(-120%);
    transition: 250ms ease;
    height: 100%;
}
.displayer-item:hover{
    transform: scale(1.05);
}
.displayer-item:hover .paragraph{
    transform: translateX(0%);
}
/*HOME*/

.HomeIntro{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.HomeWellcome{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@keyframes typing {
    100% {left: 100%;}
}
@keyframes blink {
    100% {background: transparent;}
}
.typingAnim{
    font-family: monospace;
    position: relative;
}
.typingTxt{margin: 5px;width: max-content;}

.typingTxt::before,
.typingTxt::after{
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
$typingSteps: 24;
$typingSpeed: 1.5s;

.typingTxt::before{
    background: #fff;
    animation: typing $typingSpeed steps($typingSteps) forwards 1s;
}
.typingTxt::after{
    width: .125em;
    background: #000;
    animation: 
        typing $typingSpeed steps($typingSteps) forwards 1s,
        blink 300ms steps($typingSteps) infinite,
}